<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="10.0.0.119:8888" responseMode="Redirect" />
        </httpErrors>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <system.web>
        <customErrors defaultRedirect="10.0.0.119:8888" mode="On">
            <error redirect="10.0.0.119:8888" statusCode="404" />
        </customErrors>
    </system.web>
</configuration>
